[Unit]
Description=WebBluetooth Edison Demo service
After=network.target
[Service]
ExecStart=/usr/bin/node /home/root/webbluetooth-edison-demo/server/main.js
Environment='NODE_PATH=/usr/lib/node_modules/'
Restart=on-failure
User=nobody
Group=nobody
[Install]
WantedBy=multi-user.target
